body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
#page,#page_maincontent{
  height: 100%;
}

.bgimg {
  background-image: url(../../images/imgIndex.jpg);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.nav{
  display: flex; 
  align-items:flex-end;
}

#banner-notification{
  left: 33%;
  position: absolute;
  display: none;
  /* padding-top: 5px; */
  /* padding-bottom: 5px; */
}

#page-mainContent{
  padding-top: 60px;
}

/* #case-depart, #case-destination, #btn-Rechercher-voyages, #case_date{ */
  /* width: 300px; */
  /* height: 50px; */
/* } */

#case-depart, #case-destination, #btn-Rechercher-voyages{
  width: 300px;
  height: 50px;
}

.voyageCard-mainContainer{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  height: 250px;
  /* left: 50px; */
  border-radius: 20px;
  margin: auto;
  padding-top: 25px;
  background-color: rgb(255, 255, 255);
  /* font-color:black; */
  color: black;
  display: flex;
  flex-direction: row;
}

.voyageCard-mainContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.voyageCard-main{
  padding: 2px 16px;
  display: flex;
  flex-direction: column;
}

.voyageCard-trajet{
  padding-left: 35px;
  display: flex;
  flex-direction: row;
}

.barHeuresTrajet{
  background-image: url(../../images/barHeuresTrajet.png);
  height: 120px;
  width: 35px;
}

.voyageCard-conducteur{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.voyageCard-conducteur-photo{
  background-image: url(../../images/conducteurTest.jpg);
  margin-left: 20px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.voyageCard-conducteur-nom{
  margin-top: 20px;
  margin-left: 15px;
}

.voyageCard-contrainte{
  padding-left: 60px;
  padding-top: 50px;
}

.voyageCard-tarif{
  padding-left: 120px;
  font-size: x-large;
}

.voyageCard-nbPlaceRestant{
  padding-left: 56%;
}



/* css-> banner */
  /*******Nuevos mensajes de error******/

.row{
  width:500px;
  height: 60px;
  /* background-position: center; */
  /* padding-left: 20%; */
  /* display: block; */
  margin:0 auto;
  padding-top: 2%;
  /* display: none; */
}
  
.new-message-box {
    margin: 15px 0;
    padding-left: 20px;
    margin-bottom: 25px!important;
}

.new-message-box p{
    font-size: 1em;
    font-weight: 600;
}

.info-tab {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    top: 8px;
}

.info-tab {
    float: left;
    margin-left: -23px;
}

.info-tab i::before {
    width: 24px;
    height: 24px;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}

.info-tab i::after {
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: rgb(5, 0, 0);
    border-left-color: rgb(5, 0, 0);
    bottom: -18px;
}

.info-tab i::before, .info-tab i::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -17px;
    transform: rotateX(60deg);
}

.note-box, .warning-box, .tip-box-success, .tip-box-danger, .tip-box-warning, .tip-box-info, .tip-box-alert {
    padding: 0.5px 2px 3px 26px;
}


/***Success****/

.new-message-box-success {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-icon-success {
    background: #8BC34A;
}

.tip-box-success {
    color: #33691E;
    background: #DCEDC8;
}

.tip-icon-success::before {
    font-size: 25px;
    content:"\f00c";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white;
}

.tip-icon-success i::before {
    background: #8BC34A;
}


/*******Danger*******/
.new-message-box-danger {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-icon-danger {
    background: #f44336;
}

.tip-box-danger {
    color: #b71c1c;
    background: #FFCCBC;
}

.tip-icon-danger::before {
    font-size: 25px;
    content:"\f00d";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white;
}

.tip-icon-danger i::before {
    background: #f44336;
}

/*******warning*******/
.new-message-box-warning {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-icon-warning {
    background: #FFEB3B;
}

.tip-box-warning {
    color: #212121;
    background: #FFF9C4;
}

.tip-icon-warning::before {
    font-size: 25px;
    content:"\f071";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: #212121;
}

.tip-icon-warning i::before {
    background: #FFEB3B;
}

/*******info*******/
.new-message-box-info {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-box-info {
    color: #01579B;
    background: #B3E5FC;
}

.tip-icon-info {
    background: #03A9F4;
}

.tip-icon-info::before {
    font-size: 25px;
    content:"\f129";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white
}

.tip-icon-info i::before {
    background: #03A9F4;
}


/*******info*******/
.new-message-box-alert {
    background: #FF6F00;
    padding: 3px;
    margin: 10px 0;
}

.tip-box-alert {
    color: #212121;
    background: #FFF8E1;
}

.tip-icon-alert {
    background: #FF6F00;
}

.tip-icon-alert::before {
    font-size: 25px;
    content:"\f06a";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white
}

.tip-icon-alert i::before {
    background: #FF6F00;
}


/*************************/

body {
  background-color:#ffffff;
}





/* css for login */

svg {
  padding-left: 7px;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

.svg-icon {
  cursor: pointer;
}

.svg-icon path {
  stroke: rgba(255, 255, 255, 0.9);
  fill: none;
  stroke-width: 1;
}

input {
  outline: none;
  border: none;
}

.demo {
  position: absolute;
  top: 60%;
  left: 52%;
  margin-left: -15rem;
  margin-top: -19.5rem;
  width: 25rem;
  height: 35rem;
  overflow: hidden;
}

.login {
  position: relative;
  height: 100%;
  background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transform: scale(1);
}

.login.inactive {
  opacity: 0;
  transform: scale(1.1);
}

.fa-user{
  position: absolute;
  top: 2.8rem;
  left: 7.8rem;
}

.login__form {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  height: 50%;
  /* padding: 1.5rem 2.5rem; */
  text-align: center;
}

.login__row {
  height: 5rem;
  padding-top: 1rem;
  border-bottom: 1px solid rgba(130, 137, 201, 0.2);
}

.login__icon {
  margin-bottom: -0.4rem;
  margin-right: 0.5rem;
}

.login__icon.name path {
  stroke-dasharray: 73.50196075439453;
  stroke-dashoffset: 73.50196075439453;
  animation: animatePath 2s 0.5s forwards;
}

.login__icon.pass path {
  stroke-dasharray: 92.10662841796875;
  stroke-dashoffset: 92.10662841796875;
  animation: animatePath 2s 0.5s forwards;
}

.login__input {
  display: inline-block;
  width: 22rem;
  height: 100%;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  background: transparent;
  color: #FDFCFD;
  border: 1px solid rgb(11, 59, 59);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0);
}

.login__submit {
  position: relative;
  width: 80%;
  height: 4rem;
  margin: 4rem 0 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  background: #17968f;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}

.register__submit {
  position: relative;
  width: 30%;
  height: 4rem;
  margin: 4rem 0 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  background: #17968f;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}

#section-nbVoyageur{
  position: relative;
  top: 30px;
  left: 30%;
  width: 450px;
  height: 4rem;
  margin-left: 10%;
  background: #d7e7e4;
  color: black;
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
}

.kirk-icon{
  /* padding-left: 10px; */
  margin-left: 25px;
  margin-top: 10px;
}

.imgNbVoyageurMoins{
  height: 30px;
  margin-left: 59px;
  margin-top: 17px;
  cursor: pointer;
}

.imgNbVoyageurPlus{
  height: 30px;
  margin-left: 135%;
  margin-top: 17px;
  cursor: pointer;
}

.reserverVoyage {
  /* position: relative; */
  margin-left: 29%;
  /* left: 57%; */
  width: 150px;
  height: 4rem;
  color: rgba(255, 255, 255, 0.8);
  background: #17968f;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  /* margin-left: 15px; */
}

.login__submit:after, .register__submit:after, .reserverVoyage:after {
  content: "";
  /* position: absolute; */
  top: 30%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
  width: 3rem;
  height: 3rem;
  border: 2px dotted #fff;
  border-radius: 50%;
  border-left: none;
  border-bottom: none;
  transition: opacity 0.1s 0.4s;
  opacity: 0;
}

.login__submit.processing, .register__submit.processing, .reserverVoyage.processing {
  width: 4rem;
  font-size: 0;
}

.login__submit.processing:after, .register__submit.processing:after, .reserverVoyage.processing:after {
  opacity: 1;
  animation: rotate 0.5s 0.4s infinite linear;
}

.login__submit.success, .register__submit.success, .reserverVoyage.success  {
  transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
  transform: scale(30);
  opacity: 0.9;
}

.login__submit.success:after, .register__submit.success:after, .reserverVoyage.success:after {
  transition: opacity 0.1s 0s;
  opacity: 0;
  animation: none;
}

.login__signup {
  font-size: 1.2rem;
  color: #ABA8AE;
}

.login__signup a {
  color: #fff;
  cursor: pointer;
}


@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
